<header>
  <nav class="navbar sticky-top navbar-expand-md">
    {{link-to 'Inicio' 'home' classNames='navbar-brand'}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        {{fa-icon "bars" style="color:white"}}
      </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <a class="nav-link">Hola, {{name}}</a>
      {{logout-button}}
    </div>
  </nav>  
</header>
