.btn {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary,.btn-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:hover {
    border-color: $btn-primary-solid-color;
    color: $base-white;
    background-color: $btn-primary-solid-color;
    border: 1px solid $btn-primary-solid-color;
}

.btn-outline-primary, .btn-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active {
  border: 1px solid $btn-primary-solid-color;
  background-color: $base-white;
  color: $btn-primary-solid-color;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: $base-white;
  background-color: $btn-secondary-solid-color;
  border-color: $btn-secondary-solid-color;
}

.btn-secondary:hover {
  border: 1px solid $btn-secondary-solid-color;
  background-color: $base-white;
  color: $btn-secondary-solid-color;
}

.btn-danger:not(:disabled):not(.disabled):active {
  color: $base-white;
  background-color: $btn-danger-solid-color;
  border-color: $btn-danger-solid-color;
}

.btn-danger:hover {
  border: 1px solid $btn-danger-solid-color;
  background-color: $base-white;
  color: $btn-danger-solid-color;
}
