<div class="row" style="margin:10px;">
  <div class="col-sm-12 col-md-6 col-lg-4">
    {{link-to 'Reglamento' 'readme' class="btn-outline-primary menu-option"}}
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <button class="btn-outline-primary menu-option">
          test 1
        </button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <button class="btn-outline-primary menu-option">
          test 1
        </button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <button class="btn-outline-primary menu-option">
          test 1
        </button>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <button class="btn-outline-primary menu-option">
          test 1
        </button>
  </div>
</div>
