<div class="readme-wrapper">
  <div class="readme-content">
    <h4>REGLAMENTO OFICIAL QUINIELA MUNDIALISTA 2018</h4>
    <br/>
    El presente documento establece las reglas y condiciones generales que todo participante de la quiniela debe conocer y aceptar para participar del juego. Favor leer detalladamente lo que se estipula a continuación:
    <br/>
    <br/>
    <h5>1. CRITERIOS GENERALES</h5>
    <ol type="I">
      <li>El juego consiste en predecir los marcadores para las 64 partidos del Mundial Rusia 2018. Para esto cada jugador deberá indicar el resultado de cada partido.</li>
      <li>El monto de inscripción será de 10.000 colones, los cuales deberán ser cancelados antes del 13 de Junio 2018.</li>
      <li>El ganador del juego será aquel(los) que logre(n) hacer la mayor cantidad de puntos durante todo el torneo. En caso de que hayan 2 o más jugadores con la misma cantidad de puntos, estos compartirán la misma posición, es decir ambos estarán en primer lugar, segundo lugar, etc.</li>
      <li>
        Las formas de sumar puntos son las siguientes:
        <ol type="a">
          <li>Al acertar el marcador exacto del partido se otorgará 3 puntos al jugador. Ejemplo 2 a 1, 0 a 0, etc.</li>
          <li>Al acertar el resultado general del partido se otorgará 1 punto al jugador. Ejemplo Gane, Empata, Pierde.</li>
        </ol>
      </li>
      <li>Para completar los resultados se debe ingresar a la dirección www.XXXXX.com, crear un usuario de registro y posteriormente completar la información de los partidos.</li>
      <li>Una vez que se ingresan y guardan los marcadores no se pueden hacer sustituciones. Favor revisar la información previo a guardar.</li>
      <li>Cada jugador completa el marcador exacto y el sistema se encarga de comparar los resultados reales para otorgar la puntuación correspondiente.</li>
      <li>Mediante un correo electrónico, a cada jugador, le llegará el detalle de los resultados que se guardaron. Adicionalmente a todos los participantes se les enviará los marcadores de los administradores para garantizar la transparencia del juego.</li>
      <li>
        Cada vez que finalice un día de partidos automáticamente se enviará un correo electrónico a cada jugador con la siguiente información:
        <ol type="a">
            <li>La cantidad de puntos que tiene el participante.</li>
            <li>Una tabla de posición con el top 5 de jugadores.</li>
        </ol>
      </li>
    </ol>
    <br/>
    <h5>2. FECHAS IMPORTANTES:</h5>
    <ol type="I">
      <li>
        El juego se llenará en 5 fases principales, las cuales tendrán una fecha límite para el llenado de los marcadores en el sistema. Estas se detalla a continuación:
        <table class="table">
          <thead>
            <th>Etapa</th>
            <th>Fecha límite</th>
          </thead>
          <tr>
            <td>Fase de Grupos</td>
            <td>Miércoles 13 de Junio</td>
          </tr>
          <tr>
            <td>8vos de Final</td>
            <td>Viernes 29 de Junio</td>
          </tr>
          <tr>
            <td>4tos de Final</td>
            <td>Viernes 06 de Julio</td>
          </tr>
          <tr>
            <td>Semifinales</td>
            <td>Lunes 09 de Julio</td>
          </tr>
          <tr>
            <td>3er lugar y Final</td>
            <td>Viernes 13 de Julio</td>
          </tr>
        </table>
      </li>
      <li>Las fechas indicadas arriba es la última fecha para poder guardar la información, esta se cerrará a las 12 media noche y después de esa hora no se podrán hacer ingresos. SI algún jugador no ingresa la información, todos los partidos de esa fase no contarán en el acumulado y podrá participar hasta la siguiente fase.</li>
    </ol>
    <h5>3. Detalle de Premios</h5>
    <br/>
    <ol type="I">
      <li>Solo se dará premio a la(s) persona(s) que este(n) en primer lugar, y el valor del monto variará de acuerdo a la cantidad de personas inscritas pero con un mínimo de 100.000 colones.</li>
      <li>En el caso de que haya jugadores empatados en posición de premio, se suma el total del premio y se divide entre la cantidad de jugadores empatados.</li>
      <li>Este se entregará al final del juego, una vez coordinada con el ganador.</li>
    </ol>
    <br/>
    Si tienes comentarios o consultas generales favor escribenos al correo 'por definir'<br/>
  </div>
</div>
